
@keyframes loadingAnimation{
    0%{
        right: 0px;
    }

    100%{
        right: 100%;
    }
}

@keyframes startGameAnimation{
    0%{
        right: 100%;
    }

    100%{
        right: 200%;
    }
}