body{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'main';
    src: url(../fonts/SpaceMono.ttf);
}

#backdropText{
    width: 100%;
    font-size: 60px;
    font-family: 'main';
    color: #444;
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}