body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;  /* Тёмный фон */
    margin: 0;
    color: #e0e0e0;  /* Светлый текст */
}

.login-form {
    background-color: #1f1f1f;  /* Фон формы */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 300px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;  /* Белый заголовок */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #b0b0b0;  /* Серый текст */
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #444;  /* Серый контур */
    background-color: #2c2c2c;  /* Тёмное поле */
    color: #ffffff;  /* Белый текст */
    border-radius: 4px;
}

.form-group input:focus {
    border-color: #007BFF;  /* Подсветка при фокусе */
    outline: none;
}

.submit-btn {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    display: block;
    text-decoration: none;
}

.submit-btn:hover {
    background-color: #0056b3;
}